
<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">My Reservations</h1>

    <table id="data_table" class="display" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Name</th>
          <th>Start date</th>
          <th>End date</th>
          <th> booking date </th>
        </tr>
      </thead>

      <tbody>
        <% @reservations.each do |r| %>
        <tr>
          <td><%= link_to r.reservation_owner , reservation_path(r.id), method: :get %></td>
          <td><%= r.start_date %></td>
          <td><%= r.end_date %></td>
          <td><%= r.created_at%></td>
        </tr>
        <%end %>



      </tbody>
    </table>

  </div>
</div>




