<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h1>Reservation#mailer</h1>

    <p>
      Dear Customer you have a new reservation for your <%= @listing.title%> from <%= @user_first_name %> <%= @user_last_name%>
    </p>

  </body>

</html>

