<! DOCTYPE html>
<<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
</head>

<h1>Reservation#mailer</h1>

<p>
  Dear Customer you have a new reservation for your reservation from <%= @user_first_name %> <%= @user_last_name%>
</p>
<%=linkn_to "listing_page", @listing %>


<body>

</body>
</html>>

